/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) 
- Font size (paragraph): 15px
- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/Outfit-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(214, 226, 240);
  height: 100vh;
  position: relative;
}

.qr_code_container {
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
  padding: 15px 15px 0;
  background-color: #fff;
  font-family: "Outfit";
  font-size: 15px;
}

.qr_code {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.qr_code h1 {
  margin: 20px 0;
}

.qr_code_container p {
  padding: 20px 0;
  margin-bottom: 30px;
  color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 576px) {
  .qr_code_container {
    width: 80%;
  }
}
